// Main colors
$is-blue: #2FC8D3;
$is-pink: #FF447B;
$is-yellow: #F9CD47;
$is-gray: #C4C5C6;
$is-black: #253C44;
$is-white: #ffffff;

// Main hover colors
$is-blue-hover: #20a9c1;
$is-pink-hover: #e63470;

// Fonts
$is-title: #fff;
$is-context: #827C7D;

// social media
$youtube: #ff0000;
$facebook: #3B5998;
$twitter: #55acee;
$github: #333;
$instagram: #bc2a8d;
$medium: #00ab6c;
$linkedin: #0077b5;
$rss: #f26522;
$whatsapp: #25d366;
